<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:tag0="http://apache.org/cordova/ns/plugins/1.0" id="dynatrace-cordova-outsystems-plugin" version="7.3.5">
  <name>Dynatrace Outsystems</name>
  <description>Dynatrace Cordova Outsystems Plugin</description>

  <platform name="ios">
    <framework src="libsqlite3.dylib"/>
    <framework src="CoreLocation.framework"/>
    <framework src="CoreTelephony.framework"/>
    <framework src="Security.framework"/>
    <framework src="SystemConfiguration.framework"/>
    <framework src="libz.dylib"/>
    <framework src="libc++.dylib"/>
    <framework src="MessageUI.framework"/>
    <framework src="WebKit.framework"/>
    <header-file src="files/iOS/Dynatrace.h"/>
    <source-file framework="true" src="files/iOS/libDynatrace.a"/>
    <config-file parent="/*" target="config.xml">
      <feature name="DynatraceCordovaPlugin">
        <param name="ios-package" value="DynatraceCordovaPlugin"/>
      </feature>
    </config-file>
    <header-file src="other/DynatraceCordovaPlugin.h"/>
    <source-file src="other/DynatraceCordovaPlugin.m"/>
    <js-module src="other/DynatraceCordovaPlugin.js" name="dynatraceMobile">
      <clobbers target="dynatraceMobile"/>
    </js-module>
  </platform>
  <platform name="android">
    <lib-file src="files/Android/deps/Dynatrace.jar"/>
    <source-file src="other/DynatraceCordovaPlugin.java" target-dir="src/com/dynatrace/cordova/plugin"/>
    <config-file parent="/*" target="config.xml">
      <feature name="DynatraceCordovaPlugin">
        <param name="android-package" value="com.dynatrace.cordova.plugin.DynatraceCordovaPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    </config-file>
    <js-module src="other/DynatraceCordovaPlugin.js" name="dynatraceMobile">
      <clobbers target="dynatraceMobile"/>
    </js-module>

  </platform>
  <platform name="windows"/>
</plugin>
